<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".theme" mimeType="text/xhr" />
            <mimeMap fileExtension=".fmap" mimeType="text/xhr" />
            <mimeMap fileExtension=".fmi" mimeType="text/html" />
        </staticContent>
    </system.webServer>
</configuration>
