html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#fengMap {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
#tutu {
    position: absolute;
    width: 20%;
    height: 50px;
    bottom: 0;
    background-color: black;
	right:0;
	color:white;
	text-align:center;
	line-height:20px;
	font-size:2em;
}
#description{
	position: absolute;
    left: 6px;
    top: 20%;
    width: 15%;
	background-color:white;
	opacity:0.5;
}
.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 6px;
    margin: 0 auto;
    width: 30%;
}

.search input[type=text] {
    font-size: 14px;
    width: 100%;
    padding: 4px 8px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#table-container {
    position: fixed;
    width: 20%;
    height: auto;
    max-height: 200px;
    bottom: 30%;
    background-color: #f1f2f7;
    display: none;
	left:30%;
    overflow-y: auto;
    font-size: 14px;
	opacity:0.8;
}

#table-container table {
    background-color: white;
	right:30%
}

#table-container td:last-child {
    cursor: pointer;
}

#control-panel {
    position: absolute;
    bottom: 205px;
    left: 2%;
    z-index: 300;
}

#control-panel label {
    font-weight: 100;
}

.title {
    width: 30px;
    float: right;
    right: 0px;
    cursor: pointer;
}

#path
{
    position: absolute;
    left: 70px;
    bottom: 10%;
}
#navigation
{
	position: absolute;
    left: 200px;
    bottom: 10%;
}

.btns {
    position: absolute;
    left: 2%;
    top: 2%;
}
.btns input[type=text] {
    font-size: 16px;
    width: 50%;
    padding: 4px 8px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btns button {
    margin-left: 2px;
}

@media screen and (max-width: 768px) {
    #table-container {
        font-size: 12px;
    }
}

/* 搜索下拉框 */
#hotwords {
    background: #fff;
    position: absolute;
    top: 35px;
    margin: 0 auto;
    width: 100%;
    max-height: 250px;
    overflow: auto;
    overflow-x: hidden;
   /*  border: #D9D9D9 1px solid; */
    border-top: 0;
}

#hotwords li {
    list-style: none;
    margin-left: -30px;
	cursor:pointer;
}

#hotwords li:hover {
    color: #92d7ff;
}

#search {
    margin: 0;
    margin-top: -2px;
}

#cardInfo{
    position: absolute;
    left: 2%;
    bottom: 0;
    width: auto;
    padding: 6px 20px;
    background: rgba(255,255,255,.5);
    display: none;
    border-radius: 4px;
}
#cardInfo .glyphicon{
        right: -25px;
        font-weight:100;
        font-size: 12px;
}
#cardInfo p {
    line-height: 18px;
    margin: 0;
}

#cardInfo .infor_img {
    float: left;
    width: auto;
    max-width: 200px;
    max-height: 180px;
}
#cardInfo .infor_img img{width: 100%; height: 100%; overflow: hidden;}
.roomInfor {
    float: left;
    text-indent: 0.5em;
}
#prompt{
    position: absolute;
    left: 2%；
    bottom:2%;
}

.navigation
{
    position: absolute;
    left: 10%;
    bottom: 2%;
}

/**定位图标样式**/

.loc-img {
    position: absolute;
    left: 22px;
    bottom: 75px;
    cursor: pointer;
}

.myloc-img {
    position: absolute;
    left: 72px;
    bottom: 75px;
    cursor: pointer;
}
.myloc-img img {
    width: 120px;
    height: 48px;
}

/**第一第三人称切换样式**/
.authority-img {
    position: absolute;
    right: 22px;
    bottom: 75px;
    cursor: pointer;
}

#description1
{
    position: absolute;
    left: 6px;
    top: 40%;
    width: 15%;
	background-color:white;
	opacity:0.5;
    border-radius:4px;
}
